# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native Folders
/ios
/android

# Native Credentials & Keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Metro Setup
.metro-health-check*

# TypeScript Output
*.tsbuildinfo

# Build Cache / Patch Files
.kotlin/
*.orig.*

# App Template Unused
app-example/
